<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Duke Delivery", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


  <div class ="container stretch">
	 <div class="center hero-unit">
	   <h1>Local foods, delivered.</h1>

	   <h2>Order and enjoy right from your couch!</h2>

	   <%= link_to "Get Started!", '#', class: "btn btn-large btn-success" %>
	 </div>
  </div>




<div class="container">
  <div class="row">
    <div class ="span4">
      <h2>Order directly</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class ="span4">
      <h2>See what's popular</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class ="span4">
      <h2>Ditch the phone</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
  </div>
</div>



<div class="container">
  <footer class="footer">
    <small>
      Created by a Duke Alumnus
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li></li>
      </ul>
    </nav>
  </footer>
</div>



